@import url("Main.css"); /*Import Tablet size*/

  /*Tablet size*/
    
   @media only screen and (min-width:501px)and (max-width:768px){
    .container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows:0.4fr 0.4fr 1.2fr 1.2fr 1fr;
        grid-template-areas: 
        "header header"
         "nav nav"
         " content1 content2"  
         "content3 content3"
        " footer footer";   
    }
   }
